{{#extends "layouts/main"}}

{{#content "title"}}{{ pageTitle }}{{/content}}

{{#content "body"}}
    <h2>{{ pageTitle }}</h2>
    <ul>
        {{#each movies}}
            <li>{{ this.title }}</li>
        {{/each}}
    </ul>
{{/content}}

{{ main pageTitle="Test API Page" }}

<h1>Test API Page</h1>
<p>Testing API data retrieval:</p>

<ul>
    {{#each movies}}
        <li>{{this.title}}</li>
    {{/each}}
</ul>